body{
	font-family: 'Roboto', sans-serif;
	width: 40%;
	margin: 0, auto;
}

.center{
	position: absolute;
	margin-left: 350px;	
}

h1{
	font-size: 36px;
	line-height: 36px;
}

p{
	font-size: 20px;
	line-height: 26px;
}

h4{
	font-size: 32px;
	line-height: 32px;
}

ul li {
	font-size: 20px;
	line-height: 26px;
	padding: 10px;
}

ol li {
	font-size: 20px;
	line-height: 26px;
	padding: 20px;
}

.gehaktimg{

}

.tipje{
	background-color: #def6ed;
	margin-top: 25px;
	position: center;
	border-radius: 4px;
	height: 50px;
}

li a{
	display: block;
	width: 60px;
	text-align: center;
	border: 20px;
}



